<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alllocationconceptbygoogle">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/basic_location_sample"
            android:name=".basiclocation.BasicLocationActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:label="@string/location_address"
            android:name=".locationaddress.LocationAddressActivity"
            android:parentActivityName=".MainActivity"/>
        <!-- Service to asynchronously fetch a location address using a Geocoder. Setting the
        android:exported attribute to "false" stops other apps from starting this
        service, even when using an explicit intent. -->
        <service
            android:name=".locationaddress.FetchAddressIntentService"
            android:exported="false"/>
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".locationupdatesforegroundservice.LocationServiceForegroundActivity"
            android:label="@string/location_updates_forground"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".locationupdatespendingintent.LocationServicePendingIntentActivity"
            android:label="@string/location_updates_pending_intent"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>